<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title><%=t('global.system_name')%></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
	<%= stylesheet_link_tag "layout", "data-turbo-track": "reload" %>
	<!--[if lt IE 9]>
	<%=stylesheet_link_tag :ie %>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= javascript_importmap_tags %>
</head>

<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title"><%=link_to t('global.system_name'), root_path %></h1>
			<h2 class="section_title"><%=yield(:title) if content_for?(:title)%></h2>
		</hgroup>
	</header> <!-- end of header bar -->

	<section id="secondary_bar">
		<div class="user">
		  <p><%=select_tag :current_user,users_options_for_current,:onchange => "window.location.href='#{change_user_path}?id='+this.value" %></p>
		</div>
	</section><!-- end of secondary bar -->

	<aside id="sidebar" class="column">
		<form class="quick_search">
			<input type="text" value="Buscar amigos" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
		<hr/>
		<h3>Menu de ações</h3>
		<ul class="toggle">
		  <li class="icn_tags"><%=link_to 'Visita atual', root_path %></li>
			<li class="icn_add_user"><%=link_to "Novo amigo", new_friend_path %></li>
			<li class="icn_view_users"><%=link_to "Amigos", friends_path %></li>
		</ul>
		<footer>
			<hr />
			<p><strong>Copyright &copy; 2012 Rodrigo Toledo</strong></p>
		</footer>
	</aside><!-- end of sidebar -->

	<section id="main" class="column">
	  <%=flash_messages%>
		<%= yield %>
		<div class="spacer"></div>
	</section>
</body>
</html>
